<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010825555811-a7qnauq5ud0d7fa23juv05669g6o3m6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010825555811-a7qnauq5ud0d7fa23juv05669g6o3m6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAkgAXrvxby_cawkCAJNJWMoXMEpN55ioQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1010825555811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ingrid.Runner</string>
	<key>PROJECT_ID</key>
	<string>runner-4794e</string>
	<key>STORAGE_BUCKET</key>
	<string>runner-4794e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010825555811:ios:b205d58141354d7e212d56</string>
</dict>
</plist>